@model FashionIA.Models.Feedback

@{
    ViewBag.Title = "FeedBack";
        @Styles.Render("~/Content/All.css")
    }

<h2>Let Us to Be in Connect.</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal container">
        <h4>Feedback</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.VistorName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VistorName)
                @Html.ValidationMessageFor(model => model.VistorName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VistorEmail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VistorEmail)
                @Html.ValidationMessageFor(model => model.VistorEmail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, new { @class = "control-label col-md-2" })
            <div class="col-md-10 comment">
                @Html.EditorFor(model => model.Comment)
                @Html.ValidationMessageFor(model => model.Comment)
            </div>
        </div>
        <h4>@ViewBag.Message</h4>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}


